/* Cambio de color del fondo y de las letras, se establece un margin y padding, se cambia la fuente */
body {
	background-color: #eaf2e3;
	color: #333;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #69bd45;
	color: #fff;
	text-align: center;
	padding: 20px;
}

section {
	padding: 20px; /* espaciado para la sección de 20 pixeles */}

footer {
	background-color: #4caf50; /* Color de fondo del footer */
	color: #fff;
	padding: 20px 0; }

.footer-content {
	max-width: 800px; /* Ancho máximo del contenido del footer */
	margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
	text-align: center; }

/* Estilo centrado, negrita y cursiva */
.centrado {
	text-align: center;
	font-weight:bold;
	font-family: italic;
}

nav {
	background-color: #4caf50;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 5px;
}

nav ul li a:hover {
	background-color: #2f8247;
}

/* Estilos de imagen */
img {
	display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
	margin: 0 auto; /* Centrar las imágenes horizontalmente */
	max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
}

.img1 {
	display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
	margin: 0 auto; /* Centrar las imágenes horizontalmente */
	max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
	border: 3px solid #69bd45; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
	border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
}

/* Estilos para imagenes de los carruseles */
.c-item {
	height:500px;
}

.c-image {
	height:100%;
	object-fit: cover;
	filter: brightness(0.8);
}	

/* Estilo para la barra de busqueda */
.topnav input[type=text] {
  	float: right;
  	padding: 6px;
  	border: none;
  	margin-top: 8px;
  	margin-right: 16px;
  	font-size: 17px;
}